

.navbar a {
  color: #ffffff;
  text-decoration: none;
}
.navbar a:hover {
  color: #111111;
}



.footer{
  background-image: linear-gradient(to top left,#008800,#008800);
  color: #ffffff;
  margin: auto;
 

 
}
@media screen and (max-width: 768px) {
  .footer {
    font-size: 14px;
  }}
.navbar{
  background-image: linear-gradient(to top left,#008800,#008800);
  display: flex;
  font-weight: bold;
  margin: auto;
  width: 100%;
  


}
ul {
  list-style-type: none;
  padding: 20px;
  margin: auto;
  text-align: center;
  
  display: flex;
 

}
li{
  padding-left:30px;
  padding-right:30px;
}
.iconss{
  display: flex;
justify-content: space-between;
}

@media screen and (max-width: 768px) {
.container {
  width: 100%;
  margin-top: 2rem;
}
}

@media screen and (min-width: 768px) {
.container {
  width: 10%;
  margin-top: 4rem;
}
}

.section h2 {
  margin-bottom: 40px;
}
* {
  box-sizing: border-box;
}

.footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar-expand{
  width: 50%;
  margin: 0 auto
}

/* height of the container */
.leaflet-container {
  height: 100vh;
  width: 100%;
  border-radius: 2rem;
}


